<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/Beneficios.jpg" class="card-img-top" alt="Beneficios">
                <div class="card-body text-center">
                  <h5 class="card-title">Todo sobre los contratos digitales</h5>
                  <p class="card-text">Conoce el nuevo termino de contratos digitales<span class="text-warning">.</span></p>
                  <a href="https://academy.bit2me.com/que-son-los-smart-contracts/" target="_BLANK" class="btn btn-warning text-white">Ver más</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem; border: 1px warning;">
                <img src="../../assets/img/Tecnologia.jpg" class="card-img-top" alt="Tecnologia">
                <div class="card-body text-center">
                  <h5 class="card-title">La tecnologia detras de los nuevos contratos</h5>
                  <p class="card-text">Todo sobre la tecnologia detras de esta innovacion<span class="text-warning">.</span></p>
                  <a href="https://www.xataka.com/especiales/que-es-blockchain-la-explicacion-definitiva-para-la-tecnologia-mas-de-moda" target="_BLANK" class="btn btn-warning text-white">Ver más</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem; border: 1px warning;">
                <img src="../../assets/img/Negocio.jpg" class="card-img-top" alt="Negocio">
                <div class="card-body text-center">
                  <h5 class="card-title">Beneficios para tu negocio</h5>
                  <p class="card-text">Descubri como podes incorporarlo a tu negocio, aumentar las ventas y efectivizar procesos<span class="text-warning">.</span></p>
                  <a href="https://www.izertis.com/es/-/blog/los-principales-beneficios-y-aplicaciones-de-los-smart-contracts" target="_BLANK" class="btn btn-warning text-white">Ver más</a>
                </div>
              </div>
        </div>
    </div>
</div>
