<div class="d-flex bg-light">
    <div id="sidebar-container">
     <div class="menu">
         <a class="d-block p-3" routerLink="/inicio"><i class="icon ion-md-contact text-warning"></i>Inicio</a>
         <a class="d-block p-3" routerLink="/contenido"><i class="icon ion-md-copy text-warning"></i>Contratos</a>
         <a class="d-block p-3" routerLink=""><i class="icon ion-md-business text-warning"></i>Empresas</a>
         <a class="d-block p-3" routerLink="/ejercicio"><i class="icon ion-md-help text-warning"></i>Ejercicio</a>
     </div>
    </div>
</div>
