<div class="d-flex bg-light">
    <div id="sidebar-container">
     <div class="menu">
         <a href="" class="d-block p-3"><i class="icon ion-md-contact text-warning"></i>Usuario</a>
         <a href="" class="d-block p-3"><i class="icon ion-md-copy text-warning"></i>Contratos</a>
         <a href="" class="d-block p-3"><i class="icon ion-md-business text-warning"></i>Empresas</a>
         <a href="" class="d-block p-3"><i class="icon ion-md-help text-warning"></i>Consejos</a>
     </div>
    </div>
</div>
